@font-face {
  font-family: 'Jura', sans-serif;
  src: url('\fonts\Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
	font-family: 'Jura', sans-serif;
	font-size: 36px;
	color: #1C1B17;
	background: url('images/fon.jpg');
	background-repeat: repeat;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
}

.header {
	width: 1920px;
	background: #161616;
	padding: 20px 0;
	position: relative;
}

.header_content {
	width: 1360px;
	height: 50px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	font-family: 'Jura', sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	padding: 8px 15px;
	border-radius: 0px;
	transition: all 0.3s ease;
}

nav a:hover {
	background-color: #636363;
}

.navigator {
	display: flex;
	gap: 200px;
	flex-direction: row;
	height: 100%;
}

.media {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.buttons2 {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.buttons2 img {
	object-fit: cover;
	box-shadow: 8px 8px 2px rgba(0,0,0,0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.buttons2 img:hover {
	transform: scale(1.15); 
	box-shadow: 16px 16px 4px rgba(0,0,0,0.3); 
	z-index: 10; 
}

h1 {
	font-size: 42px;
	color: #FFFFFF;
	text-align: justify;
}

h2 {
	font-size: 36px;
	color: #BE8E0A;
	text-align: justify;
}

h2:hover {
	text-decoration: underline;
}

h3 {
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
}

h3:hover {
	text-decoration: underline;
}

h4 {
	font-size: 50px;
	color: #000000;
	text-align: center;
	transition: transform 0.3s ease;
	cursor: pointer;
}

h4:hover {
	background-color: #B43737;
	transform: scale(1.15);
}

p {
	font-size: 22px;
	color: #FFFFFF;
	text-align: justify;
}

t {
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
}

p2 {
	font-size: 18px;
	color: #9A9A9A;
	text-align: justify;
}

.info {
	overflow: hidden; 
	width: 1360px;
    margin: auto;
	margin-top: 20px;
	padding: 30px;
}

.main_img {
	float: right;
	width: 400px;
	margin-top: 30px;
	margin-right: 240px;
	margin-left: 10px;
}

.shop-info {
	margin-top: 5px;
	overflow: hidden; 
	text-align: center;
}

.banner { 
	margin-top: -210px;
	padding-bottom: 80px;
}

.rek {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -370px;
	gap: 30px;
}

.rek img {
	object-fit: cover;
	box-shadow: 8px 8px 2px rgba(0,0,0,0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.rek img:hover {
	transform: scale(1.15); 
	box-shadow: 16px 16px 4px rgba(0,0,0,0.3); 
	z-index: 10; 
}

.cat {
	overflow: hidden; 
	width: 1360px;
    margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 90px;
}

.txt {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 160px;
	margin-top:-15px;
}

.tovar {
	overflow: hidden; 
	width: 1170px;
    margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.pop_tovar {
	display: flex;
	align-items: center;
	gap: 13px;
}

.pop_tovar img {
	object-fit: cover;
	box-shadow: 8px 8px 2px rgba(0,0,0,0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.inbin {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 192px;
	margin-top:-67px;
}

.inbin p:hover {
	text-decoration: underline;
	align-items: baseline;
}

.more {
	display: flex;
	justify-content: flex-end;
}

.more p:hover {
	text-decoration: underline;
	align-items: baseline;
}

.castom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.castom_info {
	width: 600px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:-430px;
}

.otzv {
	margin-top: 220px;
}

.otzv_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:-575px;
}

.box {
	width: 1170px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.box img {
	object-fit: cover;
	box-shadow: 8px 8px 2px rgba(0,0,0,0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.box img:hover {
	transform: scale(1.15); 
	box-shadow: 16px 16px 4px rgba(0,0,0,0.3); 
	z-index: 10; 
}

.quality {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

.icons2 {
	width: 1170px;
	display: flex;
	justify-content: center;
	gap: 170px;
}

.xtx {
	width: 1170px;
	display: flex;
	justify-content: center;
	gap: 270px;
	margin-top:-15px;
	margin-right: 40px;
}

.footer {
	width: 1920px;
	height: 350px;
	background: #161616;
	position: relative;
	justify-content: center;
	align-items: center;
}

.footer_content {
	height: 350px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.logo2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info_footer {
	display: flex;
	align-items: center;
	height: 100%;
}

.info_box {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}
